{% block content %}

<ul class="list-group list-group-flush border-right border-dark" style="height: 93vh">
  <div class="sidebar-container">
    <li class="list-group-item  {% if tab == 'profile' %}active{% endif %}">
      <a class="text-dark  text-center" href="{% url 'profile_settings'%}" data-toggle="tooltip" data-placement="right" title="My Profile">
        <i class="far fa-user-circle fa-2x"></i>
      </a>
    </li>

    <li class="list-group-item  {% if tab == 'messages' %}active{% endif %}">
      <a class="text-dark"  href="{% url 'inbox' %}" data-toggle="tooltip" data-placement="right" title="Messages">
        <i class="far fa-envelope fa-2x"></i>
      </a>
    </li>

    <li class="list-group-item  {% if tab == 'search' %}active{% endif %}">
      <a class="text-dark" href="{% url 'search' %}" data-toggle="tooltip" data-placement="right" title="Search">
        <i class="fas fa-search fa-2x"></i>
      </a>
    </li>

    <div class="secondary-options">
      <li class="list-group-item  {% if tab == 'payment' %}active{% endif %}">
        <a class="text-dark" href="#" target="_blank" data-toggle="tooltip" data-placement="right" title="Payment Settings">
          <i class="far fa-money-bill-alt fa-2x"></i>
        </a>
      </li>

      <li class="list-group-item  {% if tab == 'support' %}active{% endif %}">
        <a class="text-dark" href="#" data-toggle="tooltip" data-placement="right" title="Support">
         <i class="far fa-life-ring fa-2x"></i>
        </a>
      </li>
    </div>
  </div>
</ul>

<script type="text/javascript">
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
{% endblock %}
