{% block content %}
<footer class="footer bg-gray py-9 ">
      <div class="container">
        <div class="row gap-y ">

          <div class="col-md-6 col-xl-4">
            <p><a class="navbar-brand text-dark" href="{% url 'index' %}">PodBooker</a></p>
            <p>We can take your Podcsat to the next level providing you with a platform to select the perfect guest for your show.</p>
          </div>

          <div class="col-6 col-md-3 col-xl-2">
            <h6 class="mb-4 mt-1"><strong>Company</strong></h6>
            <div class="nav flex-column text-dark">
              <a class="nav-link text-dark" href="#">About</a>
            </div>
          </div>

          <div class="col-6 col-md-3 col-xl-2">
            <h6 class="mb-4 mt-1"><strong>Product</strong></h6>
            <div class="nav flex-column">
              <a class="nav-link text-dark" href="#">Features</a>
              <a class="nav-link text-dark" href="#">Pricing</a>

            </div>
          </div>

          <div class="col-6 col-md-6 col-xl-2">
            <h6 class="mb-4 mt-1"><strong>Contact Us</strong></h6>
            <div class="nav flex-column">
              <a class="nav-link text-dark" href="#">Support</a>
              <a class="nav-link text-dark" href="#">Investor</a>
              <a class="nav-link text-dark" href="#">Agency</a>
            </div>
          </div>

          <div class="col-6 col-md-6 col-xl-2 my-auto text-center">
            <div class="social social-bordered">
              <a class="social-facebook text-dark" href="#"><i class="fab fa-facebook"></i></a>
              <a class="social-twitter text-dark" href="#"><i class="fab fa-twitter"></i></a>
              <a class="social-youtube text-dark" href="#"><i class="fab fa-youtube"></i></a>
              <a class="social-instagram text-dark" href="#"><i class="fab fa-instagram"></i></a>
            </div>
          </div>

        </div>
      </div>
    </footer>
{% endblock %}
