{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
{% include "partials/navbar-2.html" with hidebuttons=True %}
<div class="signup-page">
  <div class="row">

    <div class="col-5 offset-2">

      <div class="jumbotron transparent d-flex align-items-center" >
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h3 class="mb-3"><i class="inbassador-logo-blackicon"></i></h3>
              <h5>PodBooker: connecting podcasteers everywhere</h5>
              {% if messages %}
                {% for message in messages %}
                  <li {% if message.tags %} class="list-group-item list-group-item-danger {{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
              {% endif %}
            </div>
          </div>

          <div class="row">
            <div class="col-10">
              <form class="pt-3" method="POST">
                {% csrf_token %}
                <div class="form-group pt-2">
                  <input name="username" type="email" class="form-control form-control-lg" placeholder="Email">
                </div>

                <div class="form-group pt-2">
                  <input type="password" name="password" class="form-control form-control-lg" placeholder="Password">
                </div>

                <div class="form-group text-center">
                  <button type="submit" class="btn btn-lg btn-primary">Login</button>
                </div>

                <div class="form-group text-center pt-3">
                  Don't have an account yet? <a class="text-secondary" href="{% url 'signup' %}">Signup</a>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>

    </div>


    <div class="col-4 offset-1 bg-primary" style="height: 100vh;">

    </div>
  </div>
</div>

{% endblock %}