{% block content %}
<ul class="app-sidebar">
  <div class="sidebar-container">
    <li class="{% if tab == 'dashboard' %}active{% endif %}">
      <a href="#" data-toggle="tooltip" data-placement="right" title="Dashboard">
        <i class="dashboard-iconicon"></i>
      </a>
    </li>

    <li class="{% if tab == 'board' %}active{% endif %}">
      <a href="#" data-toggle="tooltip" data-placement="right" title="Candidates">
        <i class="engageicon" style="margin-left: -7px;"></i>
      </a>
    </li>

    <li class="{% if tab == 'widget' %}active{% endif %}">
      <a href="#" data-toggle="tooltip" data-placement="right" title="My widget">
        <i class="reportsicon"></i>
      </a>
    </li>

    <div class="secondary-options">
      <li class="{% if tab == 'profile' %}active{% endif %}">
        <a href="#" data-toggle="tooltip" data-placement="right" title="My profile">
          <i class="team-membericon"></i>
        </a>
      </li>

      <li class="{% if tab == 'support' %}active{% endif %}">
        <a href="#" target="_blank" data-toggle="tooltip" data-placement="right" title="Support">
          <i class="supporticon"></i>
        </a>
      </li>

      <li class="{% if tab == 'logout' %}active{% endif %}">
        <a href="#" data-toggle="tooltip" data-placement="right" title="Logout">
          <i class="external-windowicon"></i>
        </a>
      </li>
    </div>
  </div>
</ul>

<script type="text/javascript">
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
{% endblock %}
