{% extends "base.html" %}
{% block title %}Signup{% endblock %}
{% block content %}
  <div class="signup-page">
    <div class="row">
      <div class="col-5 offset-2">
        <div class="jumbotron transparent d-flex align-items-center">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h3 class="mb-3"></h3>
                <h5>PodKeeper: connecting podcasteers everywhere</h5>
                {% if messages %}
                  {% for message in messages %}
                    <li {% if message.tags %} class="list-group-item list-group-item-danger {{ message.tags }}"{% endif %}>{{ message }}</li>
                  {% endfor %}
                {% endif %}
              </div>
            </div>
            <div class="row">
              <div class="col-10">
                
                <form class="pt-3" method="post">
                  {% csrf_token %}
                  <div class="form-group pt-2">
                    <input type="text" name="first_name" class="form-control form-control-lg" placeholder="First Name">
                  </div>
                  <div class="form-group pt-2">
                    <input type="text" name="last_name" class="form-control form-control-lg" placeholder="Last Name">
                  </div>
                  <div class="form-group pt-2">
                    <input name="email" type="email" class="form-control form-control-lg" placeholder="Email">
                  </div>

                  {% if form.email.errors %}
                    <ol>
                      {% for error in form.email.errors %}
                        <li><strong>{{ error|escape }}</strong></li>
                      {% endfor %}
                    </ol>
                  {% endif %}
                  
         

                  <div class="form-group pt-2">
                    <div class="form-group row">
                      <div class="col-12 text-center alert">
                        <div class="checkbox">
                          <label>
                          <input  type="checkbox" name="privacy_policy">
                            I agree to the <u><a class="text-secondary" href="#">Privacy Policy</a></u> and <u><a class="text-secondary" href="#">Terms of Service</a></u>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group text-center">
                    <button type="submit" class="btn btn-lg btn-outline-primary">Create account</button>
                    <ul class="list-group ml-5 mr-5 pl-5 pr-5">
                      <li class="btn btn-info btn-raised" href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">Continue with Facebook</li>
                      <li class="btn btn-danger btn-raised" href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">Continue with Google</li>
                      <li class="btn btn-primary btn-raised" href="{% url 'social:begin' 'linkedin-oauth2' %}?next={{ request.path }}">Continue with LinkedIn</li>
                      <li class="btn btn-secondary btn-raised" href="{% url 'social:begin' 'instagram' %}?next={{ request.path }}">Continue with Instagram</li>
                    </ul>
                  </div>
                  <div class="form-group text-center pt-3">
                    Already have an account? <a class="text-secondary" href="#">Login</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4 offset-1">
      </div>
    </div>
  </div>
{% endblock %}